<!-- Main Footer -->
{% assign group = site.data.new_remote.about_the_group[0] %}
<footer class="main-footer">
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div
                                class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12"
                        >
                            <div class="footer-widget about-widget">
                                <div class="logo">
                                    <a href="{{ site.baseurl }}/index.html"
                                    ><img
                                                class="theme-sensitive-logo lazyload"
                                                src="{{ '/images/logo/aglogo.png' | prepend: site.baseurl }}"
                                                alt="Admanus Group"
                                                width="200"
                                                height="50"
                                                loading="lazy"
                                        /></a>
                                </div>
                                <div class="text">
                                    <p>
                                        {{ group['About the Group'] }}
                                    </p>
                                </div>
                                <ul class="social-icon-one social-icon-colored" style="display: none">
                                    <li>
                                        <a
                                                href="[facebook link]"
                                                aria-label="Visit our Facebook page"
                                        ><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a
                                                href="[twitter link]"
                                                aria-label="Visit our Twitter page"
                                        ><i class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a
                                                href="[LinkedIn link]"
                                                aria-label="Visit our LinkedIn page"
                                        ><i class="fab fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a
                                                href="[Youtube Link"
                                                aria-label="Visit our YouTube channel"
                                        ><i class="fab fa-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget useful-links">
                                <h2 class="widget-title">Quick Links</h2>
                                <ul class="user-links">
                                    <li><a href="{{ '/index' | relative_url }}">Home</a></li>
                                    <li><a href="{{ '/about-us' | relative_url }}">About</a></li>
                                    <li><a href="{{ '/members' | relative_url }}">Members</a></li>
                                    <li><a href="{{ '/groups' | relative_url }}">Collaborations</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <!--Footer Column-->
                            <div class="footer-widget contact-widget">
                                <h2 class="widget-title">Contact Us</h2>
                                <!--Footer Column-->
                                <div class="widget-content">
                                    <ul class="contact-list">
                                        <li>
                                            <span class="icon flaticon-paper-plane"></span>
                                            <div class="text">
                                                <a href="mailto:admin@admanus.com"
                                                >info@admanusgroup.org</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="copyright-text">
                    <p>
                        © Copyright {{ site.current_year }} All Rights Reserved by
                        <a href="{{ '/index.html' | relative_url }}" target="_blank">
                            Admanus Group</a
                        >
                    </p>
                </div>
            </div>
        </div>
        <div class="auto-container" style="display: none">
            <div class="inner-container clearfix">
                <div class="copyright-text">

                </div>

            </div>
        </div>
    </div>
    </div>
</footer>
<!-- End Footer -->
