<div class="speaker-block-two col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
    <div class="inner-box">
        <div class="info-box">
            <h4 class="name">
                <a href="{{ include.member.permalink }}">{{ include.member['Full Name'] }}</a>
            </h4>
        </div>
        <div class="image-box">
            <figure class="image">
                <a href="{{ include.member.permalink }}">
                    <img src="{{ include.member['Image URL'] }}" alt="{{ include.member['Full Name'] }}"
                         class="member-image"/>
                </a>
            </figure>
        </div>
        <div class="social-box">
            <ul class="social-links social-icon-colored">
                <!-- Website 1 -->
                {% if include.member['Website 1'] and include.member['Website 1'] != "" %}
                    <li>
                        {% assign link_url = include.member['Website 1'] %}
                        <a href="{{ link_url }}">
                            {% assign link_url = include.member['Website 1'] %}
                            {% include link_icon_type.liquid link=link_url  %}
                        </a>
                    </li>
                {% endif %}

                <!-- Website 2 -->
                {% if include.member['Website 2'] and include.member['Website 2'] != "" %}
                    <li>
                        {% assign link_url = include.member['Website 2'] %}
                        <a href="{{ link_url }}">
                            {% assign link_url = include.member['Website 2'] %}
                            {% include link_icon_type.liquid link=link_url  %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
