<div class="speaker-block-two col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
    <div class="inner-box">
        <div class="info-box">
            <h4 class="name">
                <a href="{{ include.project.permalink }}">{{ include.project.name }}</a>
            </h4>
            <span class="designation">{{ include.designation }}</span>
        </div>
        <div class="image-box">
            <figure class="image">
                <a href="{{ include.project.permalink }}">
                    <img src="{{ include.project.image }}" alt="{{ include.project.name }}"
                         class="project-image"/>
                </a>
            </figure>
        </div>
        <div class="social-box">
            <ul class="social-links social-icon-colored">
                {% if include.project.twitter and include.project.twitter != "" %}
                    <li>
                        <a href="{{ include.project.twitter }}"><i class="fa-brands fa-x-twitter"></i></a>
                    </li>
                {% endif %}
                {% if include.project.linkedin and include.project.linkedin != "" %}
                    <li>
                        <a href="{{ include.project.linkedin }}"><i class="fab fa-linkedin"></i></a>
                    </li>
                {% endif %}
                {% if include.project.website and include.project.website != "" %}
                    <li>
                        <a href="{{ include.project.website }}"><i class="fas fa-globe"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
